h1, h2, h3, h4, h5, h6 {
  color: #0a0a56;
}

/* MODAL */ /* MODAL */ /* MODAL */
/* MODAL */ /* MODAL */ /* MODAL */
/* MODAL */ /* MODAL */ /* MODAL */

#emailModal, #emailModal input, #emailModal button {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 3px;
  font-weight: 600;
}

#emailModal h3, #emailModal small {
  font-weight: 600;
  display: inline-block;
  color: #3030da;
}

#submitEmail {
  color: white;
  background: #007cff;
  border: 2px solid white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
padding-right: 17px;
}

/* NAVBAR */ /* NAVBAR */ /* NAVBAR */
/* NAVBAR */ /* NAVBAR */ /* NAVBAR */
/* NAVBAR */ /* NAVBAR */ /* NAVBAR */

.navbar {
  border-bottom: 1px solid transparent;
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

#navigation {
  min-height: 150px;
}

.navbar, .nav-container, .navbar-brand, .collpase {
  min-height: 83px;
}

.navbar.fixed {
  position: fixed;
  min-width: 100%;
  z-index: 1;
  -webkit-transition: background 1s;
  background: white;
}

.navbar.not-fixed {
  -webkit-transition: background 1s;
}

.navbar-brand , .nav>li>a {
  text-transform: uppercase;
}

.navbar-brand.fixed, .nav>li>a.fixed {
  color: #326390;
}

.navbar-brand img {
  display: inline-block;
  height: 50px;
  padding: 10px;
  margin-right: 5px;
  border: 2px solid white;
  border-radius: 40%;
  background-size: 400% 400%;
}

.nav>li {
  padding: 0;
  text-align: center;
  -webkit-transition: color 0.1s;
}

.navbar-brand, .nav>li>a {
  font-weight: 600;
}

.navbar-brand:hover, .nav>li>a:hover {
  background: none;
  color: #194061;
  -webkit-transition: color 1s;
}

.navbar-brand.fixed:hover, .nav>li>a.fixed:hover {
  color: #00c0d3;
}

.nav>li>a:focus, .nav>li>a:hover {
  background: none;
}

.navbar-toggle {
  margin-top: 21px;
  border: 1px solid white;
}

.navbar-toggle.fixed {
  border-color: #0baab9;
  -webkit-transition: border-color 1s;
}

.icon-bar {
  border: 1px solid white;
}

.icon-bar.fixed {
  border-color: #0baab9;
  -webkit-transition: border-color 1s;
}

.social-media a {
  display: inline-block !important;
  font-size: 25px;
}

@media(max-width: 414px) {
  .nav>li {
    margin-bottom: 50px;
  }
}

@media(min-width: 415px) {

  #navigation {
    min-height: 250px;
  }

  .nav>li {
    padding: 15px 0;
  }

}

@media(min-width: 767px) {
  .icon-right {
    float: right;
  }
}

/* HEADER */ /* HEADER */ /* HEADER */
/* HEADER */ /* HEADER */ /* HEADER */
/* HEADER */ /* HEADER */ /* HEADER */

.iphone1 {
  /* margin: 0 auto; */
}

.openModal {
  font-weight: 600;
  color: white;
  background: #007cff;
  border: 2px solid white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-transition: background 0.5s;
}

.openModal:hover, .openModal:focus, .openModal:visited {
  -webkit-transition: background 0.5s;
  background: #004fa2;
  color: white;

}

.ctAction, .ctAction button {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.ctAction h3, .ctAction button {
  margin-bottom: 25px;
}

@media(min-width: 415px) {

  .description {
    display: flex;
  }

}

/* HOW IT WORKS */ /* HOW IT WORKS */ /* HOW IT WORKS */
/* HOW IT WORKS */ /* HOW IT WORKS */ /* HOW IT WORKS */

#howWorks {
  margin: 0 auto;
  text-align: center;
  background: white;
  padding: 25px 25px 75px;
}

#howWorks h1, #howInvest h1 {
  margin: 50px 0;
}

.contentContainer {
  background: white;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d7d7ea;
  padding: 30px;
  margin: 20px 0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(50, 99, 144, 0.54);
  -webkit-transition: box-shadow 0.5s;
}

.contentContainer:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 30px 30px rgba(50, 99, 144, 0.54);
}

.contentContainer i {
  font-size: 5em;
}

.contentContainer p {
  font-size: 1.25em;
}

@media(min-width: 415px) {
  .contentContainer {
    min-height: 325px;
  }
}

/* HOW TO INVEST */ /* HOW TO INVEST */
/* HOW TO INVEST */ /* HOW TO INVEST */
/* HOW TO INVEST */ /* HOW TO INVEST */

#howInvest {
  margin: 0 auto;
  text-align: center;
  padding: 25px;
}

.iphone {
  padding: 65px 0;
}


/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */
/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */
/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */

#footer {
  padding: 0;
}

footer {
  min-height: 83px;
  -webkit-transition: background 1s;
}

.nav>li>.bottomicon {
  -webkit-transition: color 1s;
  color: #326390;
}

.nav>li>.bottomicon:hover {
  -webkit-transition: color 1s;
  color: #00c0d3;
}

.footer-container {
  padding-right: 50px;
  padding-left: 50px;
}

.crContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 83px;
}

.nav>footer>li>a {
  color: white;
}



@media(min-width: 414px) {
  h1 {
    font-size: 2em;
  }
}

@media(min-width: 768px) {
  h1 {
    font-size: 3em;
  }
}

@media(max-width: 414px) {

  section {
    padding-bottom: 50px;
  }

}

@media(min-width: 415px) {

  section {
    padding-bottom: 150px;
  }

}
